<section class="comments-container py-8 mt-8 border-t border-stone-200 dark:border-stone-800">
    <h3 class="font-semibold text-black dark:text-white mb-4">댓글</h3>
    <script src="https://giscus.app/client.js"
            data-repo="tape4/blog"
            data-repo-id="R_kgDOOZ6NvQ"
            data-category="General"
            data-category-id="DIC_kwDOOZ6Nvc4CpIC-"
            data-mapping="pathname"
            data-strict="1"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</section>